<h1>New Note</h1>

<%= form_with model: @note do |form| %>

<%= render "form", form: form, note: @note %>

  <br>

  <div class="form-group">
    <%= form.submit class: 'btn btn-warning btn-sm'%>
  </div>
<% end %>