.site-header {
  background: rgb(0,39,193);
  background: linear-gradient(90deg, rgba(0,39,193,1) 0%, rgba(161,19,148,1) 28%, rgba(0,212,255,1) 100%);
      color: white;
  
}

.flex-container > div {
  margin-bottom: 10px;
  padding: 0px;
}

table {table-layout:fixed}
td {overflow:hidden; white-space:nowrap}

tr:nth-child(odd) {
  background-color: #eee;
}

th {
  background-color: #555;
  color: #fff;
}

th,
td {
  text-align: left;
  padding: 0.1em 0.5em;
  margin: 0px;
}